.navbar {
 
  padding: 12px 20px;
  border-radius: 50px;
  margin: 18px 20px 0;
  color: #3f2a1d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.menu-item {
  color: #3f2a1d;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #8a4a2c;
}

.menu-icon {
  height: 16px;
}

.active-menu {
  font-weight: bold;
  color: #8a4a2c;
}